name: Build application (Linux)

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2.6.1
        with:
          channel: "beta"
          version: "3.7.0-1.2.pre"
          cache: true
      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libx11-dev pkg-config cmake ninja-build libblkid-dev liblzma-dev
      - name: Build release
        run: bash script/build_linux.sh
      - name: Upload Linux artifact
        uses: actions/upload-artifact@v3
        with:
          name: Better-MCFallout-Bot-${{ inputs.version }}-Linux
          path: ${{ github.workspace }}/app/build/linux/x64/release/bundle
